@tailwind base;
@tailwind components;
@tailwind utilities;

.indicator {
    transition: left 0.4s;
}
.p-highlight {
    background: #ecfeff !important;
    border-color: #ecfeff !important;
    color: #0e7490 !important;
}
.select .border-gray-300 {
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid #a7a7a7 !important;
    border-radius: 0 !important ;
    box-shadow: none !important;
    width: 100% !important;
}

.select .border-gray-300 .h-full {
    height: 0 !important;
}
.select svg {
    transform: rotate(50deg) !important;
    color: #a7a7a7 !important;
}
.select .border-gray-300 :focus {
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid #a7a7a7 !important;
    border-radius: 0 !important;
}
.p-datatable > .p-datatable-thead {
    background-color: #d9edf4;
}
